<ul>
  <li><a routerLink="users"> all-users list</a></li>
  <!-- <li><a routerLink="posts" all-posts</li> -->
  <!-- <li>comments</li> -->
</ul>

<router-outlet></router-outlet>

<!-- this is <app class="cpm"></app>
this is main page

<app-all-users [users]="usersOuter"></app-all-users> -->

<!-- <div *ngFor="let user of users">
  Id: {{ user.id }} <br />
  NAME: {{ user.name }} <br />
  PHONE: {{ user.phone }} <br />

  <hr />
</div> -->
<!-- <div class="divochka">
  {{ title }}
</div> -->
<!-- {{ users }} -->
